In [ ]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [ ]:
text= "Tokenization is the first step in text analytics. The process of breaking down a text paragraph into smaller chunks such as words or sentences is called Tokenization."

In [ ]:
from nltk.tokenize import sent_tokenize
tokenized_text= sent_tokenize(text)
print(tokenized_text)

['Tokenization is the first step in text analytics.', 'The process of breaking down a text paragraph into smaller chunks such as words or sentences is called Tokenization.']

In [ ]:
from nltk.tokenize import word_tokenize
tokenized_word=word_tokenize(text)
print(tokenized_word)

['Tokenization', 'is', 'the', 'first', 'step', 'in', 'text', 'analytics', '.', 'The', 'process', 'of', 'breaking', 'down', 'a', 'text', 'paragraph', 'into', 'smaller', 'chunks', 'such', 'as', 'words', 'or', 'sentences', 'is', 'called', 'Tokenization', '.']

In [ ]:
import re
from nltk.corpus import stopwords
stop_words=set(stopwords.words("english"))
print(stop_words)
text= "How to remove stop words with NLTK library in Python?"
text= re.sub('[^a-zA-Z]', ' ',text)
tokens = word_tokenize(text.lower())
filtered_text=[]
for w in tokens:
  if w not in stop_words:
    filtered_text.append(w)
print("Tokenized Sentence:",tokens)
print("Filterd Sentence:",filtered_text)

{"that'll", 'm', "doesn't", 'haven', 'from', 'weren', 'few', 'just', 'y', 'how', 'before', 'hadn', 'can', "should've", 'our', "didn't", 'no', 'whom', 's', 'your', 'had', 'have', 'ourselves', 'for', 'when', "wouldn't", 'off', 'my', 'couldn', 'through', 'so', 'those', "hasn't", 'as', 'yourselves', 'between', 'they', 'and', 'with', 'further', "she's", 'too', 'against', 'myself', 'ain', 'should', 'once', 'its', 'his', 'been', 'being', "don't", 'he', 'what', 'ma', 'me', 'if', 'has', 'you', 'about', 'below', "couldn't", 'or', 'now', 'having', 'yourself', 'were', 'hers', 'then', "shouldn't", 'of', 'll', 'a', 'an', 'any', 'over', 'themselves', 'don', 'aren', 'the', 'she', 'shouldn', "isn't", 'herself', 'yours', 'out', 'isn', 'nor', 'didn', 'to', 'on', 'because', 'than', 'such', 'under', 'doing', "shan't", "mightn't", 'wasn', 'during', 'down', "you'll", 'ours', 'o', "you'd", 'only', 'it', 'hasn', 'all', 'until', 'each', 'won', "weren't", "haven't", 'needn', 'doesn', 'are', 'mightn', 'himself', "needn't", 'i', 'am', "you're", 'itself', 'into', 'very', 't', 'them', 'up', "hadn't", 'theirs', "mustn't", 'there', 'that', 'not', 'does', "wasn't", 'do', 'be', 'these', 'most', 'why', 'we', 'mustn', 're', 'at', 'again', "it's", 'other', 'in', 'own', 'both', 'where', "won't", 'him', "you've", 'her', 'who', 'did', 'more', 'shan', 'd', 'will', 'after', 'which', 'this', 'above', "aren't", 've', 'while', 'by', 'wouldn', 'is', 'was', 'their', 'same', 'some', 'but', 'here'}
Tokenized Sentence: ['how', 'to', 'remove', 'stop', 'words', 'with', 'nltk', 'library', 'in', 'python']
Filterd Sentence: ['remove', 'stop', 'words', 'nltk', 'library', 'python']

In [ ]:
from nltk.stem import PorterStemmer
e_words= ["wait", "waiting", "waited", "waits"]
ps =PorterStemmer()
for w in e_words:
  rootWord=ps.stem(w)
print(rootWord)

wait

In [ ]:
from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer()
text = "studies studying cries cry"
tokenization = nltk.word_tokenize(text)
for w in tokenization:
  print("Lemma for {} is {}".format(w,wordnet_lemmatizer.lemmatize(w)))

Lemma for studies is study
Lemma for studying is studying
Lemma for cries is cry
Lemma for cry is cry

In [ ]:
from nltk.tokenize import word_tokenize
data="The pink sweater fit her perfectly"
words=word_tokenize(data)
for word in words:
  print(nltk.pos_tag([word]))

[('The', 'DT')]
[('pink', 'NN')]
[('sweater', 'NN')]
[('fit', 'NN')]
[('her', 'PRP$')]
[('perfectly', 'RB')]

Algorithm for Create representation of document by calculating TFIDF

Import the necessary libraries.

In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

Initialize the Documents.

In [ ]:
documentA = 'Jupiter is the largest Planet'
documentB = 'Mars is the fourth planet from the Sun'

Create BagofWords (BoW) for Document A and B.

In [ ]:
bagOfWordsA = documentA.split(' ')
bagOfWordsB = documentB.split(' ')

Create Collection of Unique words from Document A and B.

In [ ]:
uniqueWords = set(bagOfWordsA).union(set(bagOfWordsB))

Create a dictionary of words and their occurrence for each document in the
corpus

In [ ]:
numOfWordsA = dict.fromkeys(uniqueWords, 0)
for word in bagOfWordsA:
  numOfWordsA[word] += 1
numOfWordsB = dict.fromkeys(uniqueWords, 0)
for word in bagOfWordsB:
  numOfWordsB[word] += 1

Compute the term frequency for each of our documents.

In [ ]:
def computeTF(wordDict, bagOfWords):
  tfDict = {}
  bagOfWordsCount = len(bagOfWords)
  for word, count in wordDict.items():
    tfDict[word] = count / float(bagOfWordsCount)
  return tfDict
tfA = computeTF(numOfWordsA, bagOfWordsA)
tfB = computeTF(numOfWordsB, bagOfWordsB)

Compute the term Inverse Document Frequency.

In [ ]:
def computeIDF(documents):
  import math
  N = len(documents)
  idfDict = dict.fromkeys(documents[0].keys(), 0)
  for document in documents:
    for word, val in document.items():
      if val > 0:
        idfDict[word] += 1
  for word, val in idfDict.items():
    idfDict[word] = math.log(N / float(val))
  return idfDict
idfs = computeIDF([numOfWordsA, numOfWordsB])
idfs

{'Jupiter': 0.6931471805599453,
 'largest': 0.6931471805599453,
 'Mars': 0.6931471805599453,
 'planet': 0.6931471805599453,
 'Sun': 0.6931471805599453,
 'from': 0.6931471805599453,
 'Planet': 0.6931471805599453,
 'fourth': 0.6931471805599453,
 'the': 0.0,
 'is': 0.0}

Compute the term TF/IDF for all words.

In [ ]:
def computeTFIDF(tfBagOfWords, idfs):
  tfidf = {}
  for word, val in tfBagOfWords.items():
    tfidf[word] = val * idfs[word]
  return tfidf
tfidfA = computeTFIDF(tfA, idfs)
tfidfB = computeTFIDF(tfB, idfs)
df = pd.DataFrame([tfidfA, tfidfB])
df

,Jupiter,largest,Mars,planet,Sun,from,Planet,fourth,the,is
0,0.138629,0.138629,0.000000,0.000000,0.000000,0.000000,0.138629,0.000000,0.0,0.0
1,0.000000,0.000000,0.086643,0.086643,0.086643,0.086643,0.000000,0.086643,0.0,0.0